.user-profile {
  margin: 0 auto;

  border: 1px solid #222;

  .user-profile-img {
    min-width: 15rem;
    min-height: 15rem;
    max-height: 20rem;
    margin: 0 auto;
    border-radius: 50%;
  }

  .user-profile-name {
    height: 15rem;
    line-height: 10rem;
  }
}
